<div class="row">
  <div class="col-md-12 packages">
    {{#each}}
    <div class="package">
      <h2 class='name'>{{hotelName}}</h2>
      <h3>A partir de <strong>R${{hotelPrice}}</strong></h3>
    </div>
    {{/each}}
  </div>
</div>
